<div class="row" ng-controller="DocController">
	<div class="col-sm-12">
		<div class="doc-panel">
			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-default margin-bottom-2">
						<div class="row">
							<div class="col-sm-2 checkbox col-sm-offset-3">
							  <label>
							    <input type="checkbox" ng-model="only_entities" ng-true-value="1" ng-false-value="0">
							    	Only Entities
							  </label>
							</div>
							<div class="col-sm-5 padding-top-7">
								<input id="wordCloudSlider" data-slider-id='ex1Slider' type="text" ng-model="num_words" class="form-control"/>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="panel-body summary-panel" style="min-height: 50px;">
									<div style="max-height: 150px;">
										<div style="overflow-x: hidden; overflow-y: auto; max-height: 150px;">
											<p>
												<span ng-repeat="item in wordCloudList"><span style="font-size: {{item[2]}}px;" ng-class="{'label wc-label label-space {{item[1]}}': item[1]!='', 'label-space':item[1]=='', 'selected-tag-item':selected_word_tag_item == item}" ng-click="onTagItemClick(item)">{{item[0]}}</span> </span>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4 padding-right-2">
					<div class="panel panel-default margin-bottom-0">
						<div class="panel-heading doc-panel-heading">
							<div class="row">
								<div class="col-xs-6 col-xs-offset-5 padding-top-5 padding-left-25">
									<div class="btn-group">
										<button type="button" class="btn btn-default btn-xs js-tooltip js-sort-alphabetically" data-toggle="tooltip" data-placement="top" title="Sort list alphabetically" ng-click="orderByPredicate='name';" ng-class="{true:'active', false:''}[orderByPredicate=='name']">
											<span class="glyphicon glyphicon-sort-by-alphabet"></span>
										</button>
										<button type="button" class="btn btn-default btn-xs js-tooltip js-sort-by-date" data-toggle="tooltip" data-placement="top" title="Sort list by date" ng-click="orderByPredicate='-date';" ng-class="{true:'active', false:''}[orderByPredicate=='-date']">
											<span class="glyphicon glyphicon-calendar"></span>
										</button>
										<button type="button" class="btn btn-default btn-xs js-tooltip js-sort-by-view-count" data-toggle="tooltip" data-placement="top" title="Sort list by view count"  ng-click="orderByPredicate='-count';" ng-class="{true:'active', false:''}[orderByPredicate=='-count']">
											<span class="glyphicon glyphicon-eye-open"></span>
										</button>
									</div>
								</div>
							</div>
						</div>
						<div class="panel-body padding-3">
							<div class="scroll-list-container" style="height: 250px;">
								<div class="scroller" id="docScrollParent" style="height: 250px;">
									<div class="js-items-list viewport real restrict" style="overflow-x: hidden; overflow-y: auto; max-height: 250px;">
										<ul class="doc-list">
											<li class="row" sf-virtual-repeat="doc in documentList | orderBy:orderByPredicate" ng-click="loadDocument(doc.name)" ng-style="{'background-color': doc.color};">
												<div class="col-xs-2" title="{{doc.count}}">{{doc.count}}</div>
												<div class="col-xs-10 padding-right-25 ellipsize">{{doc.name}}</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-8 padding-left-0">
					<div class="panel panel-default margin-bottom-0">
						<div class="documentContainer" style="height: 295px;">
							<div class="entity-editor">
								<div class="row">
									<div class="col-sm-6 padding-top-2 padding-left-35">
										<form class="form-inline">
											<div class="form-group">
												<!-- <label for="entitySelector">Entity Type</label> -->
												<select class="form-control" id="entitySelector" ng-options="obj as obj for obj in entityTypes" ng-model="selectedEntity"></select>
											</div>
											<input type="text" class="hidden" ng-model="selectedText" id="selectedText"/>
											<button type="submit" class="btn btn-default" ng-click="addEntity()">Add</button>
										</form>
									</div>
									<div class="col-sm-6 padding-top-2 padding-left-0">
										<form class="form-inline">
											<div class="form-group">
												<!-- <label for="entityName">Create Entity</label> -->
												<input type="text" class="form-control" ng-model="entityName" id="entityName" placeholder="New Entity Type"/>
											</div>
											<button type="submit" class="btn btn-default" ng-click="createEntity()">Create</button>
										</form>
									</div>
								</div>
							</div>
							<div style="overflow-x: hidden; overflow-y: auto; height: 255px; max-height: 295px;">

								<!-- Document content to be rendered here. -->
								<div class="bs-summary">
									<div class="row">
										<div class="col-md-12 padding-top-45">
											<p ng-repeat="line_summary in summary">{{line_summary}}</p>
										</div>
									</div>
								</div>

								<div class="bs-content divide padding-top-45" id="textContent">
									<p ng-repeat="line in content" ng-bind-html="line"></p>
								</div>
								<!-- List group -->
								<div class="bs-entities divide">
									<ul class="list-group">
										<li class="list-group-item">
											<ul class="list-unstyled">
												<li ng-repeat="column in entity_columns">
													<div class="row" ng-if="entities[column]">
														<div class="col-md-3"><h5><span class="label {{column}}">{{column}}</span></h5></div>
														<div class="col-md-9">
															<p style="margin-top: 10px" ng-bind="entities[column].join(', ')"></p>
														</div>
													</div>
												</li>
											</ul>
										</li>
									</ul>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<script type="text/javascript">
	$(function(){
		$("#wordCloudSlider").slider({
			min: 15,
			max: 100,
			step: 5,
			value: 30
		})
		.on("slideStop", function(event){
			console.log(event.value);
			$('#wordCloudSlider').val(event.value).trigger('input');
		});

		$('#textContent').on("mouseup", function(){
			var selection = $('#textContent').selection();
			if(selection.end != selection.start){
				var text = $('#textContent').text().substring(selection.start, selection.end).trim();
				$('#selectedText').val(text).trigger('input');
			}
		});
	});
</script>