.center {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.table-container{
  overflow-y: auto;
  max-height: 550px;
  padding: 5px;
  width: auto;
}
.table-responsive{
	 min-height: 300px;
}

.sidebar-container{
  background: none repeat scroll 0 0 #fbfbfb;
  margin-top: 20px;
  min-height: 600px;
  padding: 5px;
}

col {
  width: 175px;
}

table{
  width: auto;
}

td{
  white-space: nowrap;
  overflow: hidden;
}

.glyphicon{
  line-height: 2;
}

/*.table-container::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
*/
/*.table-container::-webkit-scrollbar-track {
  background-color: rgba(113,112,107,0.1);
  -webkit-border-radius: 10px;
}*/

/*.table-container::-webkit-scrollbar-thumb:vertical {
  background-color: rgba(0,0,0,.2);
  -webkit-border-radius: 10px;
}
*/
/*.table-container::-webkit-scrollbar-thumb:vertical:hover,
.table-container::-webkit-scrollbar-thumb:horizontal:hover {
  background: red;
}
*/
/*.table-container::-webkit-scrollbar-thumb:horizontal {
  background-color: rgba(0,0,0,.2);
  -webkit-border-radius: 10px;
}*/

.tooltip{
  font-size: 14px;
}

.tooltip-inner{
  max-width: 960px;
  text-align: justify;
  background-color: #555;
}