/*html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}*/
.top-margin-15 {
	margin-top: 15px;
}

.text-ellipsize{
	text-overflow: ellipsis;
}

sup{
	top: -1.5em;
    float: right;
    left: -18px;
}

.add-list {
	top: 10px;
	margin:0 2px;
	left: -100px;
}

.colored {
	color: #ff9600;
}

.alert {
	margin-bottom: 5px;
}

.alert-dismissible {
	margin-left: 50px;
	margin-right: 50px;
}

/*body{
	padding-top: 10px;
}*/

/*.my-nav{
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 5px;
	margin-bottom: 5px;
}
*/
.grid {
	position: relative;
	width: 100%;
	/*height: 675px;*/
	margin: 0 0 0 0;
	padding-top: 10px;
	background: #FAFAFA;
	overflow-y: hidden;
	overflow-x: scroll;
}

/*.min-height{
	height: 550px;
}*/
.max-width {
	width: 20px;
}

.overview-scrollbar {
	width: 20px;
	float: right;
}

.top-margin {
	margin-top: 90px;
}

.list-container {
	height: 550px;
}

.col-1-4 {
	margin-left: 15px;
	width: 310px;
	padding: 0px;
	float: left;
}

.col-space {
	width: 15px;
	height: 550px;
	float: left;
	padding-left: 2px;
}

.top-margin-10 {
	margin-top: 10px;
}

.padding-right-25 {
	padding-right: 25px;
}

.list-panel-heading {
	padding: 7px 2px;
}

.btn-sm, .btn-group-sm>.btn {
	padding: 5px 10px;
}

ol, ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.js-items-list>ul>li {
	border-bottom: 1px solid #CCC;
	height: auto!important;
}
.js-items-list>ul{
	min-height: 400px;
	width:265px
}


.scrollbar-item {
	background: #FAFAFA;
}

.list-panel-body {
	padding: 0px;
	overflow: hidden;
	float: left;
}

.list-scroller {
	/*width: 400px;*/
	overflow: auto;
}

.list-restrict {
	width: 286px;
}

.list-restrict-full {
	width: 308px;
}

.list-row {
	margin-right: -15px !important;
	margin-left: -15px !important;
}

/*.js-scroll-list::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0px;
}*/

/*.js-scroll-list { -ms-overflow-style: none; }
*/
/*.js-scroll-list::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}*/
.grid::-webkit-scrollbar {
	-webkit-appearance: none;
	height: 1px;
}

.inline-block{
	display:inline-block;
}

.input-search{
	margin: 5px; 
    position: absolute;
    margin-top: -33px;
    z-index: 1000000;
    height: 33px;
    width: 264px;
}

.grid {
	-ms-overflow-style: none;
}

.grid::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.bar-container {
	margin: 3px 0px;
	height: 14px;
	background: black;
}

.bar {
	background: white;
	height: 14px;
}

.ellipsize {
	white-space: nowrap;
	overflow: hidden;
	min-height: 20px;
}

.ellipsize:hover{
	white-space: normal;
}

rect.frame {
	fill: none;
	stroke: #ddd;
}

.reset-padding {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

rect.page {
	fill: #FFF;
	stroke: #999;
	fill-opacity: .4;
	cursor: move;
}

rect.thumb {
	fill: #0A0A0A;
	stroke: #999;
	fill-opacity: .4;
	cursor: move;
}

.superscript {
	position: relative;
	top: -0.5em;
	font-size: 80%;
}

.list-glyphicon {
	top: auto;
	font-size: 12px;
	line-height: 1.5;
}

.list-navbar-text {
	margin-top: 5px !important;
	margin-bottom: 0px !important;
}

.multiselect {
	background-color: #EAEAEA;
}

.multiselect input {
	margin-left: -2px;
}