{% extends "base_layout_without_navbar.html" %}

{% block layout_content %}
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="containers">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				{% block toolbar_home_link %} {% endblock %}
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					{% block toolbar_header_left_link_content %} {% endblock %}
				</ul>

				<!-- <ul class="nav navbar-nav navbar-left">
					<li><p class="navbar-text">Back to <a href="http://www.cc.gatech.edu/gvu/ii/citevis/VIS25/" class="navbar-link">Vis25 Home</a></p></li>
				</ul> -->

				<!-- <button type="button" class="btn btn-default hidden" ng-click="addList()">Add List</button> -->
				<!-- <span></span> -->
				{% block toolbar_page_content %} {% endblock %}
				
				<!-- <form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search">
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>-->

				<!-- <p class="navbar-text navbar-right">Works best in <a class="navbar-link" href="https://www.google.com/chrome/">Google Chrome</a></p> -->
				
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<div id="main-html-content">
		{% block content %}{% endblock %}
	</div>
{% endblock %}