{% extends "base_layout.html" %}

{% block title %}
	ListView
{% endblock %}

{% block content %}
	<div class="containers">
	    <div class="row">
	      <div class="col-md-2 sidebar-container">
	        {% block sidebar_content %}{% endblock %}
	      </div>
	      <div class="col-md-10">
	        {% block main_content %}{% endblock %}
	      </div>
	    </div>
  	</div>
{% endblock %}