{% extends "base_layout.html" %}

{% block title %}
ListView
{% endblock %}

{% block toolbar_home_link %}
<a class="navbar-brand" href="/listview">ListView</a>
{% endblock %}

{% block toolbar_header_left_link_content %}
<!-- <li class="active"><a href="http://www.cc.gatech.edu/gvu/ii/citevis/VIS25/">Back to Vis25</a></li> -->
<!-- <li><a href="/list/tutorial">Tutorial</a></li> -->
{% endblock %}

{% block toolbar_page_content %}
	<ul class="nav navbar-nav navbar-right">
		<li><a href="/listview/tutorial">Tutorial</a></li>
	</ul>
{% endblock %}

{% block content %}
<div class="containers">
	<table class="samples table">
	<tr>
    <th>Name</th>
    <th>Display Name</th> 
    <th>URL</th>
    <th>ID</th>
    <th><a href="http://getbootstrap.com/components/">Glyphicon</a></th>
    
  </tr>
	</table>
	<div class="col-md-12">
	<div class="col-md-4">
	<h2>Add</h2>
		<form id="sessionForm">
			<table class="table">
			<tr><td>Name (No spaces)</td><td><input name="name" type="text"></td></tr>
			<tr><td>Display name</td><td><input name="displayName" type="text"></td></tr>
			<tr><td>Url</td><td><input name="url" type="text"></td></tr>
			<tr><td>ID (Copy from session)</td><td><input name="session" type="text"></td></tr>
			<tr><td>Glyphicon (Refer doc)</td><td><input name="glyphicon" type="text"></td></tr>
			
			</table>
			<button type='submit' class="btn submit-btn">Submit</button>
			
		</form>
		</div>
	
	</div>
	<div class="col-md-4">
		<h2>Remove</h2>
		<form id="sessionRemoveForm">
			Name<input name="removeName" type="text" id="removeName">
			<button type='submit' class="btn remove-submit-btn">Submit</button>
			
		</form>
		
	</div>
	
</div>
{% endblock %}

{% block script_content %}
<script type="text/javascript" src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/adminBoard.js') }}"></script>

{% endblock %}