{% extends "base_layout.html" %}

{% block title %}
ListView
{% endblock %}

{% block toolbar_home_link %}
<a class="navbar-brand" href="/listview">ListView</a>
{% endblock %}

{% block toolbar_header_left_link_content %}
<!-- <li class="active"><a href="http://www.cc.gatech.edu/gvu/ii/citevis/VIS25/">Back to Vis25</a></li> -->
<!-- <li><a href="/list/tutorial">Tutorial</a></li> -->
{% endblock %}

{% block toolbar_page_content %}
	<ul class="nav navbar-nav navbar-right">
		<li><a href="javascript:void(0);" data-toggle="modal" data-target="#myModal">Feedback</a></li>
		<li><a href="/listview/tutorial">Tutorial</a></li>
	</ul>
{% endblock %}

{% block content %}
<div class="containers">
	<div class="col-md-12 heading">
		<p> The <strong>ListView</strong> visualization provides a way to explore connections between categorical attributes/variables of a data collection. It shows all the different values for each attribute, the frequency of each attribute value, and connections from the values of one attribute to another. Two attributes are said to be "connected" if there is at least one data item having both of those attributes. Below we provide a few example data sets, or you can upload your own data set in any of the supported file types. </p>
		
	</div>
	<div class="row margin-0">
		<div class="col-md-6 top-50">
			<form id="fileUploadForm" >
				<h3>Upload a file</h3>
				<p>Select a file that you want to visualize using the ListView</p>
				<div class="row">
					<div class="col-md-10 ">
						<div class="input-group">
							<span class="input-group-btn">
								<span class="btn btn-primary btn-file">
									Browse <input type="file" name="file" accept=".tsv, .csv,text/csv, .json">
								</span>
							</span>
							<input type="text" class="form-control" readonly>
						</div>		
					</div>
					<div class="col-md-2 padding-left-0">
						<button id="submitFile" disabled  class="btn btn-success">Upload</button>
					</div>
				</div>
				<span id="hasHeaders" ><input id="headercheckBox" type="checkbox" checked>File contains headers</span>
				

				<span class="help-block" id="fileUploadFormResponse">
					Currently Supported File Types: *.csv, *.tsv, *.json
				</span>
			</form>
		
			 <div class="alert alert-warning" style="display:none">Please upload only readable csv, tsv or json files</div>
			 <div class="samples top-50 ">
			 <h4>Sample Datasets</h4>
			 </div>
		</div>
		<div class="col-md-6 sample-image">
			<img src="/listview/static/images/listview.png">
			<div class="text-center"><i>Sample View - Visualizing CS Faculty Data set</i></div>
			
		</div>
	</div>
	<div class="loader hidden" ></div>

	<footer class="footer">
		<p>© <a href="http://www.cc.gatech.edu/gvu/ii/" target="_blank">II Lab - Georgia Institute of Technology</a></p>
		<i>Creators: Sakshi Pratap, Anand Sainath, Carsten Gorg, John Stasko</i>
	</footer>
   
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Feedback Form</h4>
        </div>
        <div class="modal-body">
          <script>
          (function(t,e,n,c){var o,s,i;t.SMCX=t.SMCX||[],e.getElementById(c)||(o=e.getElementsByTagName(n),s=o[o.length-1],i=e.createElement(n),i.type="text/javascript",i.async=!0,i.id=c,i.src=["https:"===location.protocol?"https://":"http://","widget.surveymonkey.com/collect/website/js/wkou68UtjTVEHVgMnICdOxOMhrcIk9imgTEnmZ6GB9hPBh0Mx6wnNBmw8DAcT7nO.js"].join(""),s.parentNode.insertBefore(i,s))})(window,document,"script","smcx-sdk");
         </script>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>	
</div>
{% endblock %}

{% block script_content %}
<script type="text/javascript" src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='libs/bootstrap/js/bootstrap.min.js') }}"></script>
{% endblock %}