{% extends "base_layout.html" %}

{% block title %}
ListView
{% endblock %}

{% block toolbar_home_link %}
<a class="navbar-brand" href="/listview">ListView</a>
{% endblock %}

{% block toolbar_header_left_link_content %}
<!-- <li class="active"><a href="http://www.cc.gatech.edu/gvu/ii/citevis/VIS25/">Back to Vis25</a></li> -->
<!-- <li><a href="/list/tutorial">Tutorial</a></li> -->
{% endblock %}

{% block toolbar_page_content %}
	<ul class="nav navbar-nav navbar-right">
		<li><a href="/vislists/list/tutorial">Tutorial</a></li>
	</ul>
{% endblock %}

{% block content %}
<div class="containers">
	Password<input name="login">
	<button>Submit</button>
	
</div>
{% endblock %}

{% block script_content %}
<script type="text/javascript" src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
<script>
$("button").on("click",function(){
	$.ajax({
			type: 'post',
			url: '/listview/verify',
			contentType: 'application/json; charset=utf-8',
			data: JSON.stringify({"pass":$("input").val()}),
			success: function(content){
				window.location.href="/listview/adminBoard";
			}
		});
})
</script>

{% endblock %}