{% extends "base_layout.html" %}

{% block title %}
	ListView
{% endblock %}

{% block head_script_content %}
<style type="text/css">
	img{
		width: 95%;
	}
</style>
{% endblock %}

{% block toolbar_home_link %}
<a class="navbar-brand" href="/listview">ListView</a>
{% endblock %}


{% block content %}
<div class="col-md-12">

	<div class="top-10 col-md-9">For the description of the system below, think of the csv file as a spreadsheet.  As an example, let’s consider a data set of people. Each row is a different person and the columns contain attributes such as name, height, weight, age, and gender. We use the term “data item” or just “item” to mean the different rows of the sheet and “attribute” to mean the columns. Each item has a “value” of an attribute which is simply the string appearing in the corresponding column of the item’s row.</div>
	<div class="col-md-3">
			<img src="/listview/static/images/peoplecsv.png">
			<div>Download file : 
				<a href="/listview/static/files/people.csv">csv</a>
				<a href="/listview/static/files/people.tsv">tsv</a>
				<a href="/listview/static/files/people.json" target="_blank">json</a>
			</div>
		</div>
	<div class="col-md-12">
	<h1 id="type" class="page-header">Overview</h1>
	<p>
		Each list in the visualization can represent any attribute of the data set. All of the values of that attribute of the different items will then appear in the list, but aggregated together, so each unique value only appears once. For instance, if a list in the visualization represents people’s age, all of the different ages in the collection will appear in the list, but only once. The bar in front of each value in the list encodes that value’s frequency. That is, it encodes how many data items in the entire data set have that value of the column’s attribute. </p>
	</div>
	<div class="col-md-12">
	<h1 id="type" class="page-header">Interactions</h1>
	<div class="row">
		<div class="col-md-6">
			<img src="/listview/static/images/peoplelist.png">
		</div>
		<div class="col-md-6">
			You can choose which attribute to place in each column of the visualization via the menu at the column top. Any number of columns can be added to the visualization. Two buttons at the top right allow you to make the list font larger and smaller.
<br>
<br>
The key power of ListView is to show values of different attributes that are “connected”, that is, that occur in common for at least one data item in the collection. For example, if a person in the collection is 45 years old and weighs 150 pounds, then the attribute values of age-45 and weight-150 are connected. If four people in the collection share that age and weight, then those two attribute values are connected even more strongly. ListView allows you to select different attribute values (one or more) and then view which other attributes are connected to them, and how strongly.
</div>
<div class="col-md-12">
To select an attribute value, simply click on it.  It will be shown with a yellow background. All of the connected attribute values are then drawn with an orange background, with darker orange signifying a stronger connection. So, for example, if you click on a person’s name in the collection, that person's gender, age, height, and weight will be shown in orange. If you click on a particular weight, you will see shown in orange all the other attributes of people having that weight.  If you click on a gender, you will see all the attributes of people with that gender, which may be quite many. The quantitative connection strength for a selected value, that is, how many items in the collection have a connected attribute value, is shown by a numeric value in a superscript following the attribute value. If you click on an already selected value, it will toggle off to be unselected. You can also use the "Clear List" button to remove all selections from a list.
<br>
<br>
he leftmost three buttons under the list menu selection control the ordering of values in the list. From left to right they are alphabetical/numeric order, by frequency of occurrence in the collection (most to least), and by connection strength. In the connection strength (third) mode, all connected values (orange) are brought to the top with the darkest orange highest.<br>
<br>
The next button, the up arrow, manually brings all connected items to the top. The rightmost three buttons simply control the left-to-right alignment of the values in the list.</div>
	</div>
	</div>
	<div class="col-md-12">
	<h1 id="type" class="page-header">List Modes</h1>
	<p>
	It is possible to select more than one value in a list or across lists. Holding down the “control” key while clicking accumulates selections. Holding down the “shift” key selects all items in-between the previous selection in that list and the new one. 
<br><br>
When more than value is selected, determining which other attribute values are connected and the strength of that connection becomes more challenging. In particular, there are different ways to determine and quantify the connection strength. The four list modes at the top (Any, All, Same, and All-Any) specify the four different ways of determining connections when more than one value is selected. Here is how they work.
</p>
	<h3>Any</h3>
	<p>
Attribute values are considered to be connected to the selected values if they have a connection to any of them, that is, if they are connected to at least one in the selected set. This is like a logical "OR" mode. So, for example, if a height and an age are selected, then the connected values shown in orange will be the attributes of people having either that height or that age, or possibly both. The numeric connection strength of each connected value is the number of people having any of the selected attributes. </p>
<h3>All</h3>
<p>
Attribute values are considered to be connected to the selected values if they have a connection to all of the currently selected values. This is like a logical "AND" mode. So, for example, if a height and an age are selected, then the connected values shown in orange will be the attributes that are connected to both that height and age through at least some person, though not necessarily the same person. More specifically, a particular height will be connected if there is some person sharing the selected height and that weight, and some other person sharing the selected age and that weight. They may or may not be the same person. The numeric connection strength of each connected value is the number of different people who each exhibit that attribute and at least one of the selected values. Note that if two values from the same attribute list are selected, nothing can be connected because no data item can have those two different values (by definition).</p>
<h3>Same</h3>
<p>
Attribute values are considered to be connected to the selected values if they have a connection to all of the currently selected values through a common data item. So, for example, if a height and an age are selected, then the connected values shown in orange will be the other attribute’s values for people with that age and weight. The numeric connection strength of each connected value is the number of people who each exhibit all of the selected attributes. Note that if two values from the same attribute list are selected, nothing can be connected because no one data item can have those two different values (by definition).</p>
<h3>All-Any</h3>
<p>
Attribute values are considered to be connected to the selected values if they have a connection to at least one selected value from each list. That is, this mode is like doing an "AND" between lists but an "OR" within a list. So, for example, if the female gender is selected and three ages are selected, then the connected values will be other attributes of women of those ages. The numeric connection strength of each connected value is the number of people who exhibit at least one of the selected values from all of the lists. </p>
</div>

	<footer class="col-md-12 footer-tutorial">
		<p>© <a href="http://www.cc.gatech.edu/gvu/ii/" target="_blank">II Lab - Georgia Institute of Technology</a></p>
		<i>Creators: Sakshi Pratap, Anand Sainath, Carsten Gorg, John Stasko</i>
	</footer>

</div>
{% endblock %}